.formComponent {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  color: $white;

  .textBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: $font-m;
    line-height: 27px;
    h2{
      font-size: $font-m;
    }
    span {
      font-size: $font-s;
      font-weight: $fontW-s;
    }

  }
  form.formBox {
    display: flex;
    flex-direction: column;
    label {
      padding: 10px 42px 10px 14px;
      background-color: $white;
      
      &:after {
        content: '\e849';
        border: 1px solid $green;
      }
      &:first-child {
        @include inputBoxBorder(up);
        border-bottom: 1px solid rgba(154,151,161,0.2);
      }
      &:last-child {
        @include inputBoxBorder(under);
      }
      input {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        border: 0;
        background-color: $input-yellow;
      }
    }

  }
  form.loginBtnBox,
  .signupBtnBox {
    margin-top: 16px;
    margin-bottom: 15px;
    .signupBtnBox {
      padding-bottom: 0;
      border-bottom: 0;      
    }
    input{
      @include submitButton(green);
      
    }    
  }
  .policyFormBox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: $font-s;
    font-weight: $fontW-s;
    line-height: 24px;
  }
  .facebookText,
  .payText {
    display: inline-block;
    margin-bottom: 13px;
    font-size: $font-s;
    font-weight: $fontW-s;
  }
  button {
    @include submitButton(blue)
  }
}
