.movieActions { 
  //보고싶어요button, 관심없어요button
  button, .likeFalse {
    border: none;
    background-color: transparent;
    padding: 8px 24px 8px 0;
    text-align: center;
    z-index: 100;
   cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(images/like.svg) no-repeat;
      vertical-align: middle;
      margin-right: 7px;
    }
    span {
      color: $white;
      font-size: 16px;
      vertical-align: middle;
    }
  }
   .likeTrue {
    // &:hover {
    //   &:before {
    //     background: url(images/likeHover.svg) no-repeat;
    //   }
    // }
    //보고싶어요 버튼 trued 일때
      &:before {
        background: url(images/likeHover.svg) no-repeat;      
    }
  }
  .hateTrue {
    &:before {
      background: url(images/hateHover.svg) no-repeat;
    }
  } 
  .hateFalse {
    &:before {
      background: url(images/hate.svg) no-repeat;    
    }
  }  
}