@import 'reset-css/reset.css';


* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  background-color: $bg-color;
}
body {
   font-family: "Noto Sans", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
   height: 100%;
   background: url(images/radioStar.jpg) no-repeat;
   background-size: cover;
  }
body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.84);

}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}