$tablet-width: 768px;
$desktop-width: 875px;
$xl-desktop-width: 1351px;
$phone-width: 320px;
$ihpone6-width: 375px;
$ihpone6plus-width: 450px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == 'tablet' {
    @media (min-width: #{$iphone6plus-width}) 
      and (max-width: #{desktop-with}) {
      @content;
    }
  } @else if breakpoint == 'tablet-landscape' {
    @media (min-width: #{$tablet-with}) 
    and (max-width: #{$desktop-width}) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == 'table-portrait' {
    @media (min-width: #{$tablet-width}) 
    and (max-width: #{$desktop-width})
    and (orientation: portrait) {
      @content;
    }
  } @else if $breakpoint == 'hpone' {
    @media (min-width: #{phone-width}) and (max-width: #{$iphone6plus-width}) {
      @content;
    }
  } @else if $breakpoint == 'phone-landscape' {
    @media (min-width: #{$phone-width}) 
    and (max-width: #{tablet-width})
    and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == 'desktop-xl' {
    @media (min-width: #{$xl-desktop-width}) {
    }
  } @else if $breakpoint == 'phone-tablet' {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
  }
}

@mixin inputBoxBorder($radius) {
  @if $radius == up {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  }
  @else if $radius == under {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  } 
}
@mixin submitButton($color) {
  height: 48px;
  border: 0;
  border-radius: 40px;
  width: 100%;
  color: $white;
  font-size: 18px;
  line-height: 40px;
  font-weight: $fontW-s;
  @if $color == green {
    background-color: $green;
  }
  @else if $color == blue {
    background-color: #4065b3;
  }
}